<footer id="contact">
    <a href="https://www.facebook.com/anshumaan.singh.37454" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/23_Anshumaan"><i class="fa fa-twitter" target="_blank"></i></a>
    <a href="https://www.linkedin.com/in/anshumaan-singh-a496b1179/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/AnshumaanSingh1999" target="_blank"><i class="fa fa-github" target="_blank"></i></a>
    <a href="https://www.instagram.com/anshumaansingh1999/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="mailto:anshumaan.singh2018@vitstudent.ac.in" target="_blank"><i class="fa fa-envelope"></i></a>
  </footer>