<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Anshumaan Singh</a>
<ul class="navbar-nav">
 
<li class="nav-item active">
 <a class="nav-link" href="#Home">HOME</a>
</li>
<li class="nav-item">
 <a class="nav-link" href="#About">ABOUT</a>
</li>
<li class="nav-item">
 <a class="nav-link" href="#Experience">EXPERIENCES</a>
</li>
 <li class="nav-item">
 <a class="nav-link" href="#Education">EDUCATION</a>
</li>
<li class="nav-item">
 <a class="nav-link" href="#Skills">SKILLS</a>
</li>
 <li class="nav-item">
 <a class="nav-link" href="#Skills">PROJECTS</a>
</li>
 
 
 <li class="nav-item">
 <a class="nav-link" href="Anshumaan%20Singh(18BCE2193).pdf" download="Anshumaan_Singh_Resume" target="_blank">RESUME</a>
</li>
 <li class="nav-item">
 <a class="nav-link" href="#contact">CONTACT</a>
</li>
 
 <li class="nav-item">
 <a class="nav-link disabled" href="#">Scroll Down to know more</a>
</li>
 
 
</ul>
</nav>